.App{
  font-size: 1 rem;
  font-family: 'Poppins', sans-serif;
}

.login{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  /* justify-content: center; */
  align-items: center;
  background-color: #030303;
  color: #FFFFFF;
}

.heading{
  font-size: 2rem;
  margin-bottom: 2rem;
  /* width: 600px; */
  /* justify-content: center; */
}

.input{
  margin-bottom: 1rem;
  background-color: #030303;
  width: 25vw;
  border: 1px solid #FFFFFF ;
  border-radius: 6px;
  height: 2rem;
  color: #FFFFFF;
}
.login_btn{
  background-color: #4f18f5;
  margin-bottom: 1rem;
  /* background-color: #030303; */
  width: 25vw;
  /* border: 1px solid #FFFFFF ; */
  border: none;
  border-radius: 6px;
  height: 2rem;
}
.registration{
  /* font-size: 10px; */
  color: #c1bebe;
}

.dashboard{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  /* justify-content: center; */
  align-items: center;
  background-color: #030303;
  color: #FFFFFF;
}

.customer{
  display: flex;
  flex-direction: row;
  width: 30vw;
  /* border: 2px solid white; */
  justify-content: space-between;
}
.customer_div{
  width: 18vw;
  margin-bottom: 2rem;
}
.radio{
  margin-right: 3rem;
}
.amount_input{
  width: 10.5vw;
  text-align: center;
  /* width: 20vw; */
  height: 1.5rem;
}
.amounts_input{
  width: 2vw;
  text-align: center;
  margin-right: 6px;
  /* width: 20vw; */
  height: 1.5rem;
}
.amount1_input{
  width: 2vw;
  text-align: center;
  /* margin-right: 6px; */
  /* width: 20vw; */
  height: 1.5rem;
}

/* input[type="radio"]:checked {
  color: pink; 
  outline: 2px solid blue; 
} */

input[type=radio]:checked{
  accent-color: #6741D9;
}

.cal_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33vw;
  margin-bottom: 2rem;
}
.rupees{
  font-size: 1.5rem;
}

.graph{
  /* display: flex;
  flex-direction: column-reverse; */
  width: 27vw;
  /* min-height: 30vh; */
  height: 30vh;
  max-height: 80vh;

  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  margin-right: 2rem;
  position: relative;
  /* background-color: red; */


}

.bars{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 27vw;
 
}

.bar {
 
  background-color: #F0C3F1; 
  border: 1px solid #FFFFFF;
 
  margin-left: 2rem;
  margin-top: auto;
  max-height: 30vh;
  width: 2vw;
  /* height: 3rem; */

}
.save_btn{
  display: flex;
  background-color: #6741D9;
  margin-bottom: 1rem;
  /* background-color: #030303; */
  width: 30vw;
  /* border: 1px solid #FFFFFF ; */
  border: none;
  border-radius: 6px;
  height: 2rem;
  justify-content: center;
  /* justify-content: center; */
  align-items: center;
  
}

.no{
  margin-bottom: 2rem;
}

.save_btn1{
  background-color: #C2C2C2;
  border: none;
}
